#photos {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#photos-search {
  width: 25%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

#photos-search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: auto;
}

#photos-search-input {
  padding: 5px;
  border: solid 1px #000;
  margin-top: auto;
  color: none;
}

#photos-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
}

#search {
  padding: 2px 10px 2px 10px;
  background-color: black;
  border: none;
  color: white;
}

#clear {
  padding: 2px 10px 2px 10px;
  border: 1px solid #000;
  background-color: white;
  margin-right: 3px;
}

.photo {
  align-items: stretch;
  margin: 0 25px 0 25px;
  width: calc(33.3% - 50px);
  text-decoration: none;
  color: black;
}

.photo img{
  margin: 0 5px 0 5px;
  height: auto;
  object-fit: contain;
  width: calc(100% - 10px);
}

@media only screen and (max-width: 767px) {
  #photos { flex-direction: row; }
  #photos-search {
    width: 100%;
    margin: 25px;
  }

  .photo {
    margin: 0 25px 0 25px;
    width: calc(50% - 50px);
    height: 280px;
  }

  .photo img {
    height: 160px;
    object-fit: cover;
  }

  #photos-list {
    width: 100%;
  }

  #photos-search-input {
    padding: 5px;
    border: solid 1px #000;
    height: 20px;
    margin-top: auto;
    color: none;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1000px) {

}
