.navigation-bar {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
  justify-content: space-around;
}

.first-nav{
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}

.nav {
  margin: 0;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 45px;
  align-self: flex-end;
  padding: 0 15px 0 15px;
}

.top-left {
  padding: 10px 0 0 20px;
  color: #024d4c;

}

.lang {
  font-weight: 900;
  margin-left: 10px;
  padding: 0 5px 0 5px;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}

.dropbtn {
  text-transform: uppercase;
  background-color: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-dropdown {
  display: none;
  padding-top: 1.5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
  align-items: center;
  width: 150px;
  top: 125px;
}

.mobile-dropdown {
  display: flex;
  background: url(https://weds360.com/assets/background-d404a4fb1237176e7b697a2783a3f77c397aa528d3c8cb0447917be451240bdb.jpg);
  height: 0;
  width: 0;
  flex-wrap: wrap;
  padding: 0;
  top: 65px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.mobile-dropdown-visible {
  height: 510px;
  width: 100%;
  opacity: 1;
}

.mobile-link-container {
  display: flex;
  border: solid 1.5px #fff;
  height: 0;
  width: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-link-container a {
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  text-transform: none;
}

.mobile-link-visible {
  height: 125px;
  width: auto;
}

.mobile-link-container a p {
  margin-bottom: 0;
}

.large {
  width: calc(50% - 3px);
}

.small {
  width: calc(25% - 3px);
}

.dropname {

}

.dropbtn:hover .nav-dropdown {
  display: block;
}

.link-container {
  border-top: solid 1px #000;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: white;
  height: 40px;
  justify-content: space-around;
  flex-direction: column;
}

.nav-link {
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
  width: inherit;
  color: black;
}

.home-link {
  max-height: 100px;
  max-width: 100px;
  margin: 10px 15px 0 15px;
}
.home-link img{
  max-height: 100px;
  max-width: 100px;
}

.fa-bars {
  display: none;
  height: 100%;
  width: 30px !important;
  margin: auto 30px auto 55px;
}

.nav-wrapped {
  width: 100% !important;
}

@media only screen and (max-width: 767px) {
  .nav-collapse {
    display: flex;
  }
  .nav {
    display: none;
  }

  .first-nav{
    width: auto;
    height: auto;
    margin: auto 0 auto 30px;
    align-items: center;
  }

  .top-left {
    padding: 0;
  }

  .navigation-bar {
    margin: 0;
    height: 60px;
    justify-content: space-between;
  }

  .home-link {
    margin: 10px;
    height: 40px;
  }

  a img {
    height: 40px;
  }

  .fa-bars {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .nav-collapse {
    display: none;
  }

  .dropbtn {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .dropbtn {
    font-size: 14px;
  }
}
